extends layout

block content
    h1(class="text-4xl font-bold ml-auto mr-auto my-3")=title
    form(method='POST' action='')
        div(class='flex gap-2')
            label(for='username') Username:
            input#username(type='text' placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username) )
        div(class='flex gap-2')
            label(for='password') Password:
            input#password(type='password' name='password' required='true')
        button=title